<h1><%= @restaurant.name %></h1>
<h2><%= @restaurant.category %></h2>
<h2><%= @restaurant.address %></h2>

<h2><%= link_to "Add a new review", cucumber_path %>
</h2>
<%= link_to "Back to restaurants",  root_path %>

<h2>Restaurant reviews:</h2>
